*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background: #73a6fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 2em;
    margin-top: 10%;
    color: #5795f8;
    text-align: center;
}

form{
    margin-top: 20px;
}

.inputTodo{
    padding: 10px;
    width: 70%;
    outline: none;
}

button{
    padding: 12px;
    border: 0;
    background: #5795f8;
    color: white;
    cursor: pointer;
}

.todo_outlist{
    margin-top: 20px;
    text-align: left;
}

.item_container li{
    margin-top: 10px;
    background: #e6e6e6c2;
    padding: 10px;
    list-style: none;
    cursor: pointer;
    text-transform: capitalize;
}